workflows/registrarGasto.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "gasto",
        "options": {}
      },
      "id": "e5294285-935c-4261-b7bd-bb8540f90a1b",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [0, 0],
      "webhookId": "a8522cb0-fa2f-4fe4-bac5-83da2da39876"
    },
    {
      "parameters": {
        "functionCode": "const mensaje = $json.body?.Body;\n\nif (!mensaje || typeof mensaje !== 'string') {\n  throw new Error(\"No se encontró el campo 'Body' en el mensaje entrante.\");\n}\n\nconst match = mensaje.trim().match(/^(.*)\\s+(\\d+(?:[.,]\\d{1,2})?)$/);\n\nif (!match) {\n  throw new Error(\"Formato inválido. Enviá: descripción monto — por ejemplo: salí a cenar con mi novia 599\");\n}\n\nreturn [\n  {\n    json: {\n      descripcion: match[1].trim(),\n      monto: parseFloat(match[2].replace(',', '.')),\n    }\n  }\n];"
      },
      "id": "12a84054-3a1d-438f-8cdc-d13d538a1967",
      "name": "Parsear Gasto Simple",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [200, 0]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1218QzH3ikXT1tKbvmv7GnQTI5WQAaeOartcM_gsoOIk",
          "mode": "list",
          "cachedResultName": "gastos"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "descripcion": "={{ $json.descripcion }}",
            "monto": "={{ $json.monto }}",
            "fecha": "={{ $now.setLocale('es').toFormat('dd/LL/yy') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "fecha",
              "displayName": "fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "descripcion",
              "displayName": "descripcion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "monto",
              "displayName": "monto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "8285851b-7981-4969-a9ed-b65b2acb11a5",
      "name": "Guardar en Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [400, 0]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Parsear Gasto Simple",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parsear Gasto Simple": {
      "main": [
        [
          {
            "node": "Guardar en Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "487f1a82-5d2f-489a-ad04-a39c7a8953b7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "de32812ddbb5d7586babe6ae6b3785fe6a3767800413aa3d3bf90a4169bd70aa"
  },
  "id": "dWCSUX370OzTatIz",
  "tags": []
}
