workflows/whatsappgasto.json
{
  "name": "Registrar Gasto WhatsApp Simple",
  "nodes": [
    {
      "parameters": {
        "path": "gasto",
        "method": "POST",
        "responseMode": "onReceived"
      },
      "id": "Webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "functionCode": "const mensaje = $json[\"Body\"] || \"\";\nconst match = mensaje.match(/^(.+?)\\s+(\\d+(?:[.,]\\d+)?)/);\n\nif (!match) {\n  throw new Error(\"Formato inválido. Enviá: descripción monto — por ejemplo: salí a cenar con mi novia 599\");\n}\n\nreturn [{\n  json: {\n    fecha: new Date().toISOString().split(\"T\")[0],\n    descripcion: match[1].trim(),\n    monto: parseFloat(match[2].replace(',', '.'))\n  }\n}];"
      },
      "id": "Function",
      "name": "Parsear Gasto Simple",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "sheetId": "",
        "range": "Gastos!A:C",
        "valueInputMode": "USER_ENTERED"
      },
      "id": "GoogleSheets",
      "name": "Guardar en Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [650, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets OAuth"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Parsear Gasto Simple",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parsear Gasto Simple": {
      "main": [
        [
          {
            "node": "Guardar en Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "version": 1,
  "settings": {}
}
